


.right-tabs{
    float: right;
    position: absolute;
    right: 10px;
}



.teal{
    color: #4aaaa5;
}

.logo{
    background-color: #4aaaa5;
    color: white;
    height: 70px;
    margin: 0;
    padding: auto;
}

.navbar{
    border
}

.content{
    width: 70%;
    border: 2px solid #cccccc;
    border-radius: .5em;
    background: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 20px;
    margin: 20px auto;
}



p{
    margin: 0px 30px;
}


.logo{
    padding: 10px;
}

.container{
    background-color: white;
    width: 960px;
    margin: 0 auto;
    border: 2px solid #cccccc;
    border-radius: 0.5em;


}

.images{
    width: 100%;
    margin: 6px auto;
    position: relative;
    z-index: 1

}

.littleLine{
    border: 1px solid #cccccc;
    width: 100%;
    margin-bottom: 30px;

}

h1{
    color: #4aaaa5;
}

h3{
        position: relative;
        top: 150px;
        background: #4aaaa5;
        height: 40px;
        width: 100%;
        display: block;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        color: #ffffff;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: lighter;
        z-index: 2;
}

    @media only screen and (max-width: 1024px) {
        .images{
            width: 100%;
        }

       

    @media (max-width: 1024px) {

            .content {
            width: 80%; 
            margin: 20px 50px;
            padding: 30px;
            
            }

            .profilePic{
                margin: 0 auto;
                width: 30%;
                height: 30%;
            }
        }


@media only screen and (max-width: 980px){
    .container{
        max-width: 760px;
    }

    h3{
        width: 100%;
    }

    .profilePic{
        width: auto;
    }

    .content{
        margin: 20px auto;
    }
}
@media only screen and (max-width: 768px){
    .container{
        max-width: 640px;
    }

    .content{
        margin: 20px auto;
    }
}


    h3{
        width: 100%;
    }
  
    }

@media only screen and (max-width: 640px){
    .container{
        max-width: 490px;}
    
        h3{
            width: 100%;
        }

        .content{
            margin: 20px auto;
        }
    }
  
    }
   



